html, body {
            font-family: Arial, Helvetica, sans-serif;
            min-height: 100vh;
        }
        .gradient-text {
            background: linear-gradient(90deg, #00c6ff, #0072ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .card {
            width: 150px;
            height: 150px;
            transition: transform 0.2s;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .online-status {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .online-status::before {
            content: '';
            width: 8px;
            height: 8px;
            background-color: hsl(141, 71%, 48%);
            border-radius: 50%;
            margin-right: 5px;
        }

        .navbar {
            border-bottom: 1px solid #333;
        }

        .navbar a:hover {
            text-decoration: underline;
        }

        .profile {
            flex: 1;
            max-width: 300px;

        }
        .profile, .tech-stack .icons div, .certificates .cert-list .cert {
        border-radius: 10px;
        }

        .profile img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }

        .profile .tags span{
            border-radius: 5px;
        }

        .main-content {
            flex:2;
        }

        .tech-stack-items {
            min-width: 150px;
            max-height: 150px;
            max-width: 150px;
        }

        .project {
            width: 30%;
            border-radius: 10px;
            overflow: hidden;
        }

        .project img {
            width: 100%;
            display: block;
        }

        .project .tags {
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 5px;
        }
        .contact-form {
            border-radius: 10px;
            width: 400px;
        }
        .contact-form label {
            display: block;
        }
        .contact-form input, .contact-form textarea {
            width: 100%;
            border: 1px solid  hsl(0, 0%, 71%);
            border-radius: 5px;
        }
        .contact-form input[type="submit"] {
            cursor: pointer;
        }
        .contact-form input[type="submit"]:hover {
            background-color: #fff;
        }
        .fullheight {
            height: 100vh;
        }